<% if @credentials_list.empty? %>
  <p>You have no stored passwords.</p>
  <p><a href="/passwords/add">Add a new password.</a></p>
<% else %>
  <p><a href="/passwords/add">Add a new password.</a></p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Notes</th>
        <th>Last Modified</th>
        <th>Date Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @credentials_list.each do |credentials| %>
        <tr>
          <td><%= credentials.name %></td>
          <td><%= credentials.username %></td>
          <td>
            <span class="hide-password">**************</span>
            <span class="show-password" hidden><%= credentials.decrypt_password %></span>
          </td>
          <td><%= credentials.notes %></td>
          <td>
            <span class="date"><%= display_date(credentials.updated_at) %></span>
            <span class="time"><%= display_time(credentials.updated_at) %></span>
          </td>
          <td>
            <span class="date"><%= display_date(credentials.created_at) %></span>
            <span class="time"><%= display_time(credentials.created_at) %></span>
          </td>
          <td class="actions-column">
            <span class="material-symbols-outlined visibility">visibility</span>
            <span class="material-symbols-outlined">edit</span>
            <span class="material-symbols-outlined">delete</span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
