<% if @credentials_list.empty? %>
  <p>You have no stored passwords.</p>
  <p><a href="/passwords/add">Add a new password.</a></p>
<% else %>
  <p><a href="/passwords/add">Add a new password.</a></p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Notes</th>
        <th>Last Modified</th>
        <th>Date Created</th>
      </tr>
    </thead>
      <tbody>
        <% @credentials_list.each do |credentials| %>
          <tr>
            <td><%= credentials.name %></td>
            <td><%= credentials.username %></td>
            <td><%= credentials.decrypt_password %></td>
            <td><%= credentials.notes %></td>
            <td><%= credentials.updated_at %></td>
            <td><%= credentials.created_at %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>
